<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : "Gurl Adventures" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/user_forms' %>

    <nav id='small-top-bar'>
      <div id='member-login'>
        <% if user_signed_in? %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete,class: 'small-nav-btn' %>
        <% else %>
          <%= link_to "Log In", '#', class:'small-nav-btn', data: {:'open' => 'user-login'} %>
          <%= link_to 'Sign up', '#',  class: 'small-nav-btn' ,data: {:'open' => 'user-join'}%>
          <%end%>
      </div>
    </nav>
  
    </nav>
    <div id='title-banner'>
      <%=image_tag 'GALogoLarge' %>
    </div>

    <%= render "layouts/navigation"%>

    <div class="container" id="main-content">
      <% flash.each do |key, value| %>
        <div class="alert-div <%= key %>"><%= value %>
          <span class="alert-close">X</span>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
