<div class="row">

<div class="medium-12 large-9 columns" id="article-div">
	<h1 class="article-title"><%= @article.title %></h1>
	
	<%= render partial: 'article_info', locals: { article: @article } %>

	<div class="image-box row collapse">
		<%= image_tag @article.image.url(:large) %>
	</div>
	<div class="article-body">
		<%= simple_format(@content)  %>
	</div>

	<div class="social-buttons">
		<%= social_share_button_tag("Gurl Adventures") %>
	</div>


	<div class='header-divider'>
		<span>Comments</span>
	</div>

	<div id="comment-container">
		<% @comments.each do |comment| %>
				<% user = User.find(comment.user_id)%>
			<div class='comment-box row'>

				<div class='small-1 columns'>
					<%= image_tag 'Blank_Avatar', class:'avatar-small' %>
				</div>

				<div class="small-11 columns">
					<div class="row collapse">
						<span class='bold'><%= user.username %></span>
						<span class='pad-left small-grey'><%= comment.created_at.strftime("%a, %d %b %Y")%></span>
					</div>
					<div class="row collapse">
					  <%= comment.body %>
					</div>	
				</div>
			</div>
		<% end %>

	</div>
	<div class='rowcollapse'>
		<%= render 'comments/form' %>	 
	</div>			
</div>



<div class="large-3 columns hide-for-small-only" id="sticky-col">	
 	<div class="header-divider small">
 		<span>Related Articles</span>
 	</div>
 	<% @related_articles.each do |post| %>
 		<div class="index-box">
			<%= link_to post do %>
				<%= image_tag post.image.url(:medium) %>
				<div class="title-box">
					<%= post.title %>
				</div>
			<% end %>
		</div>
		<div class="vertical-spacer"></div>
 	<% end %> 
</div>
</div>



