<div class="row collapse">
		<% if  @featured && @featured.length >= 3 %>
			<div class="row collapse" id="feature">
				<%= render partial: 'articles/header_block_3', locals: { articles: @featured } %>				
			</div>
		<%end%>
		
<div class="row">

	<div class="small-12 medium-8 columns med-gutters">
		<% if @trending &&  @trending.length > 5 %>
			<div class='header-divider'>
				<span>Trending Now</span>
			</div>
			<div class='row'>
				<% @trending[0..1].each do |article|%>
					<div class='medium-6 columns'>
					  <%= render partial:'articles/preview_link_vertical', locals: { article: article} %>
					</div>	
				<%end%>
			</div>
			<div class='vertical-spacer'></div>
			<div class='vertical-spacer'></div>
			<div class='row'>
				<% remaining = @trending[2..5].each_slice( (@trending[2..5].size/2.0).round ).to_a %>
				<% remaining.each do |articles| %>
					<div class='medium-6 columns'>
					  <%= render partial:'side_bar_list', locals:{ articles: articles } %>
					</div>	
				<%end%>
			</div>
		<%end%>
		<div class='header-divider'>
			<span>Latest Articles</span>
		</div> 
		<% @latest.each do |article| %>
			<%=render partial: 'articles/preview_link', locals: { article: article } %>
		<%end%>

		<%= will_paginate @latest, :previous_label => '<', :next_label => '>'  %>
	</div>

	<div class="medium-4 columns hide-for-small-only" id='sticky-bottom'>
	 	<% @category_hash.each do |title, articles| %>
	 		<div class='header-divider'>
	 		  <span><%= title %></span>
	 		</div>

	 		<%= render partial: 'articles/side_bar_list', locals: { articles: articles} %>
	 	<% end %>
	</div>

</div>
</div>

