<div class="row">

  <div class='medium-12 columns'>
		<h3><%= @category.title %></h3>
		<% if @trending.length >= 3 %>
			<%= render partial: 'articles/header_block_3', locals: { articles: @trending } %>
		<%end%>
  </div>	

	<div class="small-12 medium-9 columns">



	<div class='header-divider'>
		<span>Latest</span>
	</div>	
		<%if @articles.length %>
			<% @articles.each do |article| %>
				<%= render partial: 'articles/preview_link', locals: {article: article} %>
			<% end %>
		<% else %>
			<h2>No articles to show</h2>
		<%end%>
	</div>

	<div class="medium-3 columns hide-for-small-only" id='sticky-bottom'>
	 	<div class='header-divider'>
	 	  <span>Featured</span>
	 	</div>	

	 	<%= render partial: 'articles/side_bar_list', locals: { articles: @featured } %>

	 	<div class='header-divider'>
	 	  <span>Popular</span>
	 	</div>

	 	<%= render partial: 'articles/side_bar_list', locals: {
	 		articles: @popular } %>

	</div>

</div>

